In [3]:
#Importing Python Libraries. 
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [17]:
#Reading .csv file into jupyter notebook
billboard=pd.read_csv("bill_board_top_100.csv")

In [18]:
#Checking the first five data points / rows of the data set
billboard.head()

     year  year_rank          group         artist         song_name  id
0  1956.0        1.0  Elvis Presley  Elvis Presley  Heartbreak Hotel   1
1  1956.0        2.0  Elvis Presley  Elvis Presley    Don't Be Cruel   2
2  1956.0        3.0  Nelson Riddle  Nelson Riddle    Lisbon Antigua   3
3  1956.0        4.0       Platters       Platters         My Prayer   4
4  1956.0        5.0     Gogi Grant     Gogi Grant  The Wayward Wind   5

In [19]:
#Checking the last five data points / rows of the data set
billboard.tail()

,year,year_rank,group,artist,song_name,id
6471,2013.0,96.0,Sara Bareilles,Sara Bareilles,Brave,6472
6472,2013.0,97.0,Passenger,Passenger,Let Her Go,6473
6473,2013.0,98.0,Randy Houser,Randy Houser,Runnin' Outta Moonlight,6474
6474,2013.0,99.0,2 Chainz,2 Chainz,I'm Different,6475
6475,2013.0,100.0,Paramore,Paramore,Still Into You,6476

In [20]:
#Printing the description of the data set, including the column names, total number of rows, the index, data types and memory usage 
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6476 entries, 0 to 6475
Data columns (total 6 columns):
year         6476 non-null float64
year_rank    6476 non-null float64
group        6476 non-null object
artist       6467 non-null object
song_name    6470 non-null object
id           6476 non-null int64
dtypes: float64(2), int64(1), object(3)
memory usage: 303.6+ KB